.heading {
	width: 960px;
	background: #f2f2f2;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
}

.heading-container {
	width: 50%;
	margin: 100px 0px;
}

.heading-button-wrap {
	width: 50%;
	padding: 10px;
	margin: 10px auto;
	display: flex;
	justify-content: center;
}

.heading-content {
	margin: 10px;
	text-align: center;
}