@text-color: #696969;

.main-nav {
	display: flex;
	justify-content: space-around;
	width: 60%;
	height: 35px;
	
	.main-menu-button {
	display: block;
	text-decoration: none;
	color: @text-color;
	box-sizing: border-box;
	padding: 10px 10px;
	font-size: 14px;
	padding-top: 8px;
	border: 0,5px solid ;
		
	&:hover {
		border: 0.5px solid lightgrey;
		border-top: 1px solid lightgrey;
		border-bottom: none;
	}	
}
 	.logo-button {
 		display: block;
		text-decoration: none;
		color: @text-color;
		box-sizing: border-box;
		font-size: 16px;
		padding: 8px;
 	}

	.list-menu {
		display: contents;
	}

	.main-li {
		list-style-type: none;
	}	

}