.basic-button {
	width: 65px;
	height: 30px;
	border-radius: 3px;
	margin: 2px;
}

.blue-button {
	color: #fff;
	border: 1px solid #0099ff;
	background: #0099ff;

	&:hover {
		background:lighten(#0099ff, 20%);
	}

}
.white-button {
	border: 1px solid grey;
	color: #696969;
	background: #fff;

	&:hover {
		background:darken(#fff, 20%);
		color: #000;
	}
}
